<header class="sixteen columns">
  <h1><%= @person.first_name %> <%= @person.last_name %></h1>
  <h2>This is my CV</h2>
</header>
<div class="about sixteen columns">
 <p>
   <%= @person.description %>
   
  </p>
</div><!--closed about div-->
<div class="info">
  <div class="contact nine columns">
    <h3>Contact</h3>
    <ul>
      <li>
        <%= @person.email %>
      </li>
      <li>
        <%= @person.phone_number %>
      </li>
    </ul>
  </div><!--closed contact-->
  <div class="links seven columns">
    <h3>Links</h3>
    <%= link_to "All People", people_path %>
    <%= link_to "Edit Person", edit_person_path(@person) %>
  </div>
</div><!--closed class div-->